{{#if submenu}}
	<nav class="sub-menu">
		{{#each submenu}}
			<ul class="category-list">
				<li class="category {{#eq link ../page.link}}active{{/eq}}">
					<div class="dot"></div>
					<a href="{{up}}{{link}}">{{name}}</a>
				</li>
				{{#each children}}
					<li class="page child {{#eq link ../../page.link}}active{{/eq}}">
						<div class="dot"></div>
						<a href="{{up}}{{link}}">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		{{/each}}
	</nav>
{{/if}}
