{{#neq page.link ''}}
	{{#top}}
		{{#each children}}
			{{#begins ../../page.link link}}
				{{#if ../children.length}}
					<nav class="sub-menu">
						<ul class="category-list">
							<li class="category {{#eq ../link ../../../page.link}}active{{/eq}}">
								<div class="dot"></div>
								<a href="{{up}}{{../link}}">{{../name}}</a>
							</li>
							{{#each ../children}}
								<li class="page child {{#eq link ../../../../page.link}}active{{/eq}}">
									<div class="dot"></div>
									<a href="{{up}}{{link}}">{{name}}</a>
								</li>
							{{/each}}
						</ul>
					</nav>
				{{/if}}
			{{/begins}}
		{{/each}}
	{{/top}}
{{/neq}}
